<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.aniapps.flicbuzz">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:name=".AppApplication"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".activities.Spalsh"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity android:name=".activities.SignIn"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"/>

        <activity android:name=".activities.AboutUs"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"/>
        <activity
                android:name=".player.LandingPage"
                android:label="@string/title_activity_landing_page"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="adjustPan|adjustResize"/>

        <activity
                android:name=".player.FavoriteAct"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
                android:name=".player.MyPlayer"
                android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
                android:exported="false"
                android:launchMode="singleTask"
                android:resizeableActivity="true"
                android:supportsPictureInPicture="true"
                android:theme="@style/AppTheme"
                tools:targetApi="n"/>
        <!--//android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"-->



        <activity
                android:name=".activities.IntroductionScreen"
                android:label="@string/app_name"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activities.SettingsActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activities.UpdatePasswordActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activities.ForgotPasswordActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait"/>
        <activity android:name=".activities.LoginActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activities.SignUpActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activities.UpdateProfileActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"/>
        <activity
                android:name=".activities.PaymentScreen"
                android:label="@string/app_name"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activities.PaymentScreen_New"
                android:label="@string/app_name"
                android:screenOrientation="portrait"/>
        <activity android:name=".activities.PaymentScreenLimitedAccess"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activities.PaymentScreenFullAccess"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"/>

    </application>

</manifest>