<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.aniapps.flicbuzz">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:name=".AppApplication"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".Spalsh">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".SignUp"/>
        <activity android:name=".SignIn"/>
        <activity android:name=".Login"/>
        <activity android:name=".AboutUs"/>
        <activity
                android:name=".LandingPage"
                android:label="@string/title_activity_landing_page"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
                android:name=".MyPlayer"
                android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
                android:exported="false"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"
                android:resizeableActivity="true"
                android:supportsPictureInPicture="true"
                android:theme="@style/AppTheme"
                tools:targetApi="n"/>
        <!--//android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"-->

        <activity
                android:name=".Base"
                android:screenOrientation="portrait"
                android:label="@string/title_activity_landing_page"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="adjustPan|adjustResize">
        </activity>
        <activity
                android:name=".activities.IntroductionScreen"
                android:label="@string/app_name"
                android:screenOrientation="portrait"/>
        <activity android:name=".activities.LoginActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activities.SignUpActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"/>
        <activity
                android:name=".activities.PaymentScreen"
                android:label="@string/app_name"
                android:screenOrientation="portrait"/>
        <activity android:name=".activities.PaymentScreenLimitedAccess"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activities.PaymentScreenFullAccess"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"/>
    </application>

</manifest>