<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.aniapps.flicbuzzapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="com.android.vending.BILLING"/>


    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:hardwareAccelerated="true"
            android:name="com.aniapps.flicbuzzapp.AppApplication"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="com.aniapps.flicbuzzapp.activities.Spalsh"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity android:name="com.aniapps.flicbuzzapp.activities.SignIn"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"/>

        <activity android:name="com.aniapps.flicbuzzapp.activities.AboutUs"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"/>
        <activity
                android:name="com.aniapps.flicbuzzapp.player.LandingPage"
                android:label="@string/title_activity_landing_page"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="adjustPan|adjustResize"/>

        <activity
                android:name="com.aniapps.flicbuzzapp.player.FavoriteAct"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan|adjustResize"/>

        <activity
                android:name="com.aniapps.flicbuzzapp.player.MyFav"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
                android:name="com.aniapps.flicbuzzapp.player.MyPlayer"
                android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|uiMode|keyboardHidden"
                android:exported="false"
                android:supportsPictureInPicture="true"
                android:launchMode="singleTask"
                android:resizeableActivity="true"
                android:theme="@style/PlayerTheme"
                tools:targetApi="n"/>
        <!-- -->
        <!--
                        android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
//android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"-->


        <activity
                android:name="com.aniapps.flicbuzzapp.activities.IntroductionScreen"
                android:label="@string/app_name"
                android:screenOrientation="portrait"/>
        <activity
                android:name="com.aniapps.flicbuzzapp.activities.SettingsActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait"/>
        <activity
                android:name="com.aniapps.flicbuzzapp.activities.UpdatePasswordActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait"/>
        <activity
                android:name="com.aniapps.flicbuzzapp.activities.ForgotPasswordActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait"/>
        <activity android:name="com.aniapps.flicbuzzapp.activities.LoginActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"/>
        <activity android:name="com.aniapps.flicbuzzapp.activities.SignUpActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"/>
        <activity android:name="com.aniapps.flicbuzzapp.activities.UpdateProfileActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"/>
        <activity
                android:name="com.aniapps.flicbuzzapp.activities.PaymentScreen"
                android:label="@string/app_name"
                android:screenOrientation="portrait"/>
        <activity
                android:name="com.aniapps.flicbuzzapp.activities.PaymentScreen_New"
                android:label="@string/app_name"
                android:screenOrientation="portrait"/>
        <activity
                android:name="com.aniapps.flicbuzzapp.activities.PaymentScreen_Razor"
                android:label="@string/app_name"
                android:screenOrientation="portrait"/>
        <activity android:name="com.aniapps.flicbuzzapp.activities.PaymentScreenLimitedAccess"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"/>
        <activity android:name="com.aniapps.flicbuzzapp.activities.PaymentScreenFullAccess"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"/>

        <activity android:name="com.aniapps.flicbuzzapp.notifications.Notification_Act"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"/>

        <!--for appsyfyler-->
        <receiver android:name="com.appsflyer.SingleInstallBroadcastReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>


        <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@mipmap/ic_notification_icon"/>
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/colorPrimary"/>

        <meta-data
                android:name="com.google.firebase.messaging.default_notification_channel_id"
                android:value="@string/default_notification_channel_id"/>

        <service
                android:name=".notifications.FCMMessaging"
                android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <receiver
                android:name="com.aniapps.flicbuzzapp.notifications.Notification_BroadCast"
                android:enabled="true">
            <intent-filter android:priority="777">
                <action android:name="com.catradeexchange.NOTIFICATIONBROADCAST"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>
        <!--test
        <meta-data
                android:name="com.razorpay.ApiKey"
                android:value="rzp_test_dXP9LJNPoD7Nqc" />-->
        <!--Live-->
        <meta-data
                android:name="com.razorpay.ApiKey"
                android:value="rzp_live_UH1IYzcq0XcL6T" />
        <activity
                android:name="com.aniapps.flicbuzzapp.activities.DeeplinkBrowser"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                        android:host="www.flicbuzz.com"
                        android:pathPattern="/browse/.*"
                        android:scheme="https"/>

                <data
                        android:host="www.flicbuzz.com"
                        android:pathPattern="/browse/.*"
                        android:scheme="http"/>
                <!--<data android:scheme=”http”
 android:host=”www.example.com"
 android:pathPrefix=”/gizmos” />-->
            </intent-filter>
        </activity>

    </application>

</manifest>